$headerHeight: 80px;

.headerBackground {
  position: absolute;
  width: 100dvw;
  height: $headerHeight;
  opacity: 0.5;
  background: linear-gradient(90deg, black -10%, white, black 110%);
  filter: blur(20px) grayscale(100%);
  z-index: 0;

  background-blend-mode: screen;
  background-size: cover;
}

.header {
  width: 100dvw;
  height: $headerHeight;

  margin-bottom: 10px;

  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  filter: drop-shadow(0 0 20px #aaaaaaaa);

  background: transparent;

  z-index: 1;
}

#asideNavBarIcon path {
  color: white;
}

.asideNavBarTopping {
  top: $headerHeight;
}
.asideNavBarBack {
  position: absolute;

  height: 100%;
  width: 100%;

  background: linear-gradient(-90deg, #000000bb -10%, #FFFFFFbb 666%);
  border-radius: 0 0 50% 50%;
  filter: blur(50px);
}
.asideNavBar {
  display: grid;

  align-items: center;
  justify-items: center;
  position: absolute;
  width: max-content;
  right: 0;
  padding: 20px 0;
}

.nav {
  width: min(90dvw, 1200px);
  border: 3px dashed white;
  box-shadow: 0 0 20px white;
  background: black;

  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
  z-index: 1;
}

.logo  {
  width: max-content;
  height: max-content;
  padding: 0 25px;
  transition: transform 100ms linear;

  &:hover {
    transform: scale(1.1);
  }

  @keyframes gradient {
    100% {
      background-position: 116.666667% 0;
    }
  }
}
.logoBack {
  position: absolute;
  filter: blur(15px);
  transform: scaleY(0.7) scaleX(-1);
  border-radius: 50%;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 700% auto;
  animation: gradient 10s ease-in-out infinite;
}

.logoTextA {
  filter: drop-shadow(0 0 2px white) blur(0);

  color: white;
  cursor: pointer;
  text-decoration: none;

  transition: filter 100ms linear;

  &:hover {
    filter: drop-shadow(0 0 10px white) blur(0);
  }

  &:active {
    filter: drop-shadow(0 0 10px purple) blur(0);
  }
}

