$headerHeight: 80px;

.headerBackground {
  position: absolute;
  width: 100dvw;
  height: $headerHeight;
  opacity: 0.5;
  background: linear-gradient(90deg, black -10%, white, black 110%);
  filter: blur(20px) grayscale(100%);
  z-index: 0;

  background-blend-mode: screen;
  background-size: cover;
}

.header {
  width: 100dvw;
  height: $headerHeight;

  margin-bottom: 10px;

  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  filter: drop-shadow(0 0 20px #aaaaaaaa);

  background: transparent;

  z-index: 1;
}

#asideNavBarIcon path {
  color: white;
}

.nav {
  width: min(90dvw, 1200px);
  border: 3px dashed white;
  box-shadow: 0 0 20px white;
  background: black;

  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
  z-index: 1;
}


.logoTextActive {
  filter: drop-shadow(0 0 2px white) blur(0);

  color: white;
  cursor: pointer;
  text-decoration: none;

  transition: filter 100ms linear;

  &:hover {
    filter: drop-shadow(0 0 10px white) blur(0);
  }

  &:active {
    filter: drop-shadow(0 0 10px purple) blur(0);
  }
}

