.infoPanel {
  background: #ffffee;
  padding: 20px;
}

.capturedCountPanel {
  display: grid;

  width: 100%;

  justify-content: left;
  row-gap: 20px;
  padding-top: 10px;
}

.timerPanel {
  display: grid;
}

.timer {
  display: grid;
  justify-self: center;
  justify-items: left;
  justify-content: center;
  grid-template-columns: 50px 100px;
}