.infoPanel {
  background: #000000bb;
  padding: 20px;
  position: relative;

  height: max-content;
  width: 100%;

  display: grid;
  justify-items: center;

  .settingsPanel {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 6px 10px;

    .settingsButton {
      color: black;
      padding: 0;
      min-width: min-content;

      .settingsIconButton {
        color: black;
        padding: 0;
      }
    }
  }
}

.timerPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  display: flex;
  column-gap: 20px;
}