.settingPanel {
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-weight: 900;
}

.cancelIcon {
  position: absolute;
  right: 10px;
  top: 10px;

  cursor: pointer;
}

#cancelIconPath path {
  color: black;
}

.text {
  color: black;
}