.infoPanel {
  background: #000000bb;
  padding: 20px;
  position: relative;

  height: max-content;
  width: 100%;

  display: grid;
  justify-items: center;

  .additionalSettingsPanel {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 6px 10px;

    .settingsButton {
      color: black;
      padding: 0;
      min-width: min-content;

      .settingsIconButton {
        color: black;
        padding: 0;
      }
    }
  }

  .settingsPanel {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 6px 10px;

    .settingsButton {
      color: black;
      padding: 0;
      min-width: min-content;

      .settingsIconButton {
        color: black;
        padding: 0;
      }
    }
  }
}

.timerPanel {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.timer {
  display: flex;
  align-items: center;
  column-gap: 20px;
  gap: 0;
}

@media (max-width: 375px) {

  .timer {
    font-size: 1rem;
  }
  .timer svg {
    font-size: 1rem;
  }
}