.main {
  padding: 20px 0;

  display: grid;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100dvw;

  padding: 20px;
  background: #000000aa;
}

.banner {
  position: absolute;
  display: flex;

  // 1880x200
  width: 100dvw;
  height: 200px;
  background-size: cover;
  z-index: -1;

  i {
    font-size: 16px;
    position: absolute;
    top: -12%;
    left: 20px;
  }
}

.profileImage {
  width: 180px;
  height: 180px;

  position: relative;
  overflow: hidden;

  background-size: cover;

  .editButton {
    position: absolute !important;
    color: yellow !important;
    padding: 0 !important;

    margin: 5px 10px;

    width: calc(100% - 10px * 2);

    transition: bottom 200ms linear, opacity 200ms linear;
    opacity: 0;
    background: #000000ff;

    border: 2px solid yellow;

    left: 0;
    bottom: -100px;
  }

  &:hover {
    & > .editButton {
      bottom: -1px;
      background: #000000ff;
      opacity: 0.1;

      &:hover {
        opacity: 1;
      }
    }
  }

}


.mainInfo {
  position: relative;

  display: grid;

  justify-content: center;
  justify-items: center;

  text-align: center;

  grid-template-areas: "";
}