@mixin betterButton($size, $color, $blurSize, $shadowSize) {
  content: "";
  width: $size;
  height: $size;
  position: absolute;

  filter: blur($blurSize);
  box-shadow: 0 0 $shadowSize calc($shadowSize/5) $color;
  background: $color;

  mix-blend-mode: overlay;
}

@mixin glaredBetterButton {
  @include betterButton(20%, white, 15px, 50px);
  left: 10%;
  top: 10%;
}

@mixin shadyBetterButton {
  @include betterButton(20%, black, 20px, 50px);
  right: 10%;
  bottom: 10%;
}

@mixin colorButtonBase {
  width: 100%;
  height: 100%;

  // Перекрываю стили кнопки из mui, чтобы все кнопки были ровно в контейнере
  // Да и что вообще за бред ставить min-width: 64px; кнопке!?
  min-width: 0 !important;
  min-height: 0 !important;
  padding: 0 !important;

  background: #FFF;

  &:before {
    @include glaredBetterButton;
  }

  &:after {
    @include shadyBetterButton;
  }
}

.colorButton {
  @include colorButtonBase;
}

.clickableColorButton {
  @include colorButtonBase;

  &:hover {
    transform: scale(1.1);
    z-index: 1;
  }

  &:active {
    filter: grayscale(50%);
  }
}

.children {
  color: white;
  mix-blend-mode: overlay;
}